body{
    margin: 0;
    padding: 0;
    font-family: "Raleway";
}

.sidebar{
    overflow: hidden;
    width: 15%;
    bottom: 0;
    top: 0;
    position: fixed;
    background: #6A63DD;
    font-family: "Raleway";
    padding: 1rem;
    float: left;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    font-size: 20px;
}

.side{
    margin-left: 1rem;
    color: #fff;
}

.main-content{
    margin-left: 16%;
}

header{
    /* border-bottom: 1px solid #bbb; */
    padding: 1rem;    
    overflow: hidden;
}

#closeBar{
    font-size: 25px;
    position: absolute;
    /* float: right; */
    top: 0;
    left: 130px;
    color: white;
}

#menuicon{
    display: block
}

#menuicon:hover{
    background-color: #f2f2f2;
}

.title{
    margin-top: -1rem;
    font-size: 2rem;
    color: #fff;
}

ul li{
    color: #fff;
    text-decoration: none;
    padding: 1rem;
    font-weight: bold !important;
    list-style: none;
}

ul li a {
    color: #fff !important;
}

.btn{
    background: #fff;
    border: none;
    padding: 0.7rem 1rem;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Raleway';
    margin-bottom: 2rem;
    outline: none;
    cursor: pointer;
}

header{
    border-bottom: 1px solid #bbb;
    padding: 1rem;
    /* height: 8vh; */
    overflow: hidden;
}

.openSideBarMenu{
    float:left;
    /* margin-right: 15px; */
    cursor: pointer; 
    padding: 11px 7px;
    background-color: #f2f2f2;
    /* color: #8c8c8c; */
    border-radius: 5px;
    outline: none;
    border: 1px solid#f2f2f2;
}     

.search{ 
    float: left;
    position: relative;
}

.search i{
    position: absolute;
    left: 22px;
    top: 8px;
}

.search__field{
    border-radius: 5px;
    width: 40rem;
    background: #f1f3f4;
    border: #f1f3f4;
    outline: none;
    font-size: 20px;
    margin-left: 1rem;
    padding: 0.9rem;
    padding-left: 40px;
}

.dropdown{
        float: right;
    margin-left: 10px;
}
  

h5{
    color: #fff;
}

.storage__data{
    color: #fff;
    font-family: 'Raleway';
    font-size: 0.85rem;
}

a {
    text-decoration: none;
}

ul{
    margin-left: -2rem;
    margin-right: -2rem;
    border-bottom: 1px solid #f5f6f9;
}

select{
    width: 200px;
    outline: none;
}

.fa-user-circle{
    color: #bbb;
}

.dropdown .button{
    outline: none;
    border: none;
    font-size: 20px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    cursor: pointer;
    padding: 14px 16px;
}

.dropdown-content{
    display: none;
    position: absolute;
    font-family: inherit;
    background-color: i#f9f9f9;
    z-index: 1;
    min-width:160px;
    background-color: white;
    /*box-shadow: 0px 8px 16px 0px(0,0,0,0.2);*/
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown-content a{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: inherit;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown-upload{
    display: none;
    position: absolute;
    font-family: inherit;
    background-color: i#f9f9f9;
    z-index: 1;
    min-width:200px;
    background-color: white;
    /*box-shadow: 0px 8px 16px 0px(0,0,0,0.2);*/
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    border-radius: 5px;
}

.dropdown-upload a{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: inherit;
}

.dropdown-upload a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.cards{
    /* display: flex;
    flex-wrap: wrap; */
    width: 100%;
    text-align: center;
}

.imageDiv{
    width: 35rem;
    display: inline-block;
}

.imageDiv img{
     width: 100%;
    height: 100% 
}

.card{
    /* width: 100%; */
    margin: 2rem; 
    border: 1px solid #bbb;
    border-radius: 7px;
    padding-right: 25px;
    padding-left: 25px;
    position: relative;
    /* display: block; */
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card + .card{
    margin-bottom: 2rem;
}

.search__field2{
    padding: 8px 16px;
    border-radius: 25px;
    width: 20rem;
    border: none;
    border: 1px solid #bbb;
    outline: none;
    height: 30px;
    border-bottom: 1px solid #bbb;
    margin-top: 20px;
    margin-bottom: 10px;
    /* position: absolute; */
    background-color: #f2f2f2;
    color: black;
    font-size: 15px;
}

.search2{
    position: relative;
    overflow: hidden;
}

.search2 i{
    position: absolute;
    left: 0;
    top: 24px;
    padding: 3px 3px;
}


.modal{
    display: none; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    overflow: auto; 
}

.modal-content{
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40rem;
    height: 22rem;
    text-align: center;
}

.uploadfile{
    text-align: center;
}

.modal-header{
    overflow: hidden;
    height: 4rem;
}

.modalbody{
    background-color: #f2f2f2;
    /* height: 10rem; */
    width: 30rem;
    margin: auto;
    /* display: inline-block; */
    border: dashed #bbb;
    border-radius: 5px;
    line-height: 2rem;
    text-align: center;
}

.modal-footer{
    margin-top: 2rem;
    height: 6rem;
    text-align: center;
}

.filename{
    padding: 8px 16px;
    border-radius: 5px;
    width: 12rem;
    border: 1px solid #bbb;
    outline: none;
    height: 30px;
}

.submitFile{
    background-color:#6A63DD;
    color: white;
    width: 10rem;
    height: 2.5rem;
    border-radius: 25px;
    border: 1px solid #6A63DD;
    bottom: 0;
    outline: none;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
}

.closeBtn{
    cursor: pointer;
    color: white;
    background-color: black;
    width: 10rem;
    height: 2.5rem;
    border-radius: 25px;
    border: 1px solid white;
    bottom: 0;
    outline: none;
    display: inline-block;
    font-size: 18px;
}

[type="file"]{ 
    height: 0;
    overflow: hidden;
    width: 0;
}

label{
    text-align:center;
}

#fileicon{
    padding-top: 25px;
}

[type="file"] + label {
    border-radius: 5px;
    height: 3rem;
    color: black;
    cursor: pointer;
    margin: auto;
    display: inline-block;
}

th{
    text-align: left;
    font-size: 20px;
    font-weight: lighter;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 1rem;
}
  
table, td, th {
    border: 1px solid #d9d9d9;  
}

th{
    padding: 8px;
}

td{
    padding: 8px;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

.created{
   color: green;
}

.deleted{
    color: red;
}

.modified{
    color: blue;
}

@media only screen and (min-width: 768px) {
    #menuicon{
        display: none;
    }
    #closeBar{
        display: none;
    }
    .openSideBarMenu{
        display: none;
    }
}

@media only screen and (max-width: 768px) { 
     .sidebar{
         overflow: hidden;
         display: none;
     }

    .container{
        width: 100%;
        overflow: hidden;
        
    }

    nav{
        display: none;
        margin-top: 5rem;
        position: sticky;
    }

    .main-content{
        margin-left: 0;
        overflow: auto;  
    }

    header{
        /* padding: none; */
        /* width: 100vw; */
        /* display: inline-block; */
        /* height: 3rem; */
        max-width: 100%;
        padding: 0.5rem;
    }

    .openSideBarMenu{
        display: block;
    }

    #menuicon{
        display: block
    }

    .search__field{
        width: 11rem;
    }

    .button{
        padding: none;
    }

    .button-text{
        display: none;
    }

    .imageDiv{
        width: unset;
    }

    .card{
        display: inline-block;
        margin: auto;
        /* margin-top: 15px; */
        margin: 1rem;
    }

    .modal-content{
        margin: 10% auto;
        width: 20rem;
        margin-top: 100px;
        border-radius: 8px;
    }

    .modalbody{
        width: 20rem;
    }

    #profileicon{
        padding: 0;
        /* size: 200px; */
    
        /* font-size: 50px; */
    }

    .button{
        float: right;
        font-size: 50px;
    }

    .dropdown{
        /* position: relative; */
        font-family: inherit;
        /* z-index: 1; */
        /* width: 100px; */
        margin-left: unset;
    }

    .dropdown-content{
        position: fixed;
        font-family: inherit;
        width: 35px;
        font-family: inherit;
        background-color: i#f9f9f9;
        z-index: 1;
        background-color: white;
        border: 1px solid rgba(0,0,0,.15);
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
        float: right;
    }

    .dropdown-content a{
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        font-family: inherit;
    }

    .dropdown .button{
        font-size: 35px;
        padding: unset;
        margin: 4px;
    }

    .dropdown-content a:hover{
        background-color: #ddd;
    }

    table{
        width: 50%;
        padding: 0;
    }

    .table-header{
        /* width: 5rem; */
        /* overflow-x: hidden; */
        overflow: auto
    }

    .search__field2{
        width: 10rem;
        
    }

    hr{
        /* width: 100vw; */
        padding: 0;
    }
  
}
  